.background-image {
  width: 100%;
  height: 320px;
  background: url("../images/img/ImagePlaceHolderPage.png") no-repeat center
    center;
  background-size: cover;
  margin-bottom: 50px;
}

.background-image-avata {
  border-radius: 20px;
  width: 120px;
  position: absolute;

  bottom: -57px;
}
/*  */
.info {
  padding: 40px 0;
}
.info_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info_top-title {
  font-weight: 600;
  font-size: 51px;
  line-height: 110%;
  /* or 56px */

  display: flex;
  align-items: center;
  text-transform: capitalize;

  /* White */

  color: #ffffff;
}
.info_top-handle {
  display: flex;
  align-items: center;
  gap: 20px;
}
.info_top-btn {
  padding: 19px 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  text-align: center;
  border: 2px solid #a259ff;
  color: #ffffff;
}
.bd {
  border: 2px solid #a259ff;
  border-radius: 20px;
  background-color: #a159ff00;
}
.info_botton-list {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.info_botton-list-item {
  min-width: 156.67px;
}
.info_list-item-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  /* or 39px */

  display: flex;
  align-items: center;
  text-transform: capitalize;

  /* White */

  color: #ffffff;
}
.info_list-item-des {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  /* or 35px */

  text-transform: capitalize;

  /* White */

  color: #ffffff;
}
.info_bio-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  /* or 35px */

  text-transform: capitalize;
  margin-bottom: 10px;
  color: #858584;
}
.info_bio-des {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  /* or 35px */

  text-transform: capitalize;

  /* White */

  color: #ffffff;
}
.info_bio + .info_bio {
  margin-top: 30px;
}
/*  */
.created {
  border-top: 1px solid #3b3b3b;
}
.creacted-handle {
  display: flex;
  justify-content: space-between;

}
.creacted-handle-btn{
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    /* identical to box height, or 31px */
  
    text-align: center;
    text-transform: capitalize;
  
    /* Caption & Label Text */
  
    color: #858584;
    cursor: pointer;
    padding: 15px 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 16px;
    align-items: center;
}
.creacted-handle-number{
    background: #3B3B3B;
border-radius: 20px;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #FFFFFF;
padding: 5px 10px;
}
.creacted-handle-btn-active{
    color: #FFFFFF;
    border-bottom: 2px solid #858584;
}
.handle-number-active{
    background: #858584
}
.created-content{
    background: #3B3B3B;
    padding: 80px 0;
}
/*  */
.discovermore__item-botton{
    background: #2B2B2B
}
.discovermore__list{
    flex-wrap: wrap;
}
.discovermore__item-img {
  width: 100%;
  height: 390px;
}
/*  */
@media (max-width: 834px) {
  .info {
    padding: 30px 0;
  }
  .info_top {
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }
  .info_top-title {
    font-size: 38px;
  }
  .info_list-item-title {
    font-size: 22px;
  }
  .info_list-item-des,
  .info_bio-title,
  .info_bio-des {
    font-size: 16px;
  }
  .info_bio-icon {
    width: 24px;
    height: 24px;
  }
  .creacted-handle-btn{
    font-size: 16px;
  }
  .creacted-handle-number{
    font-size: 12px;
  }
}
@media (max-width: 579px) {
  .info_top {
  }
  .background-image-avata {
    left: 50%;
    transform: translate(-50%, 0);
  }
  .info_botton-list {
    justify-content: space-between;
  }
  .info_botton-list-item {
    min-width: unset;
  }
  .info_top-handle {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }
  .creacted-handle-btn{
    gap: 4px;
  }
}
