.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.btn {
  background: #a259ff;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
 
  /* or 22px */

  text-align: center;

  color: #ffffff;
  cursor: pointer;
}
@keyframes fadeIn {
  from {
    opacity: 0; /* Độ mờ ban đầu là 0% */
  }
  to {
      opacity: 1;/* Độ mờ cuối cùng là 100% */
  }
}
.font-small {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  text-align: center;

  color: #ffffff;
}
@media (max-width: 1200px) and (min-width: 834px) {
  .container {
    max-width: 100%;
    padding: 0 72px;
  }
  }
  

@media only screen and (max-width: 834px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}

