.mashrooms {
    background: url('../images/img/NFT\ Highlight.png') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 640px;

    .mashrooms-bg {
        background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #A259FF 100%);
        width: 100%;
        height: 100%;
        padding: 0 0 60px;
        position: relative;

        .container {
            height: 100%;
        }
    }
}

.mashrooms-content {
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: 100%;
}

.mashrooms_left-title {
    @include title;
    font-weight: 600;
    font-size: 51px;
    line-height: 110%;
}

.mashrooms_left-btn {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 19px 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    cursor: pointer;
    text-align: center;

    /* Background */
    margin-top: 30px;
    color: #2B2B2B;


}

.mashrooms_right {
    padding: 30px;
    background: rgba(59, 59, 59, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 20px;

}

.mashrooms_right-title {
    @include smail-text;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
}

.mashrooms_right-clocks {
    @include big-text;
    font-size: 38px;
    display: flex;
    gap: 12px;
    justify-content: space-between
}

.mashrooms_right-clock {
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    color: #ffffffd8;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 700px) {
    .mashrooms {

        .mashrooms-bg {

            padding: 200px 0 130px;
            position: relative;

            .container {
                height: 100%;
            }
        }
    }

    .mashrooms_left {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .mashrooms-content {

        flex-direction: column;
        align-items: stretch;
        height: 100%;
    }

    .mashrooms_left-btn {
        position: absolute;
        bottom: 32px;
        width: calc(100% - 60px);
    }

}