.trending {
    padding: 80px 0;

    .trending-content {
        display: flex;
        flex-direction: column;

        // 
        .trending-title {
            @include title;
        }

        // 
        .trending-des {
            @include description;
            margin: 10px 0 60px;
        }

        // 
        .trending-list {
            display: flex;

            gap: 30px;

            .trending-list-item {
                width: calc((100% - 60px)/3);

                img {
                    border-radius: 20px;
                    width: 100%;
                }

                .trending__list-chile {
                    display: flex;
                    justify-content: space-between;
                    gap: 15px;

                    .trending__link {

                        width: calc((100% - 30px)/3);

                        .trending__list-item {

                            img {
                                

                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                    .trending__list-item-all {

                        background: #A259FF;
                        border-radius: 20px;

                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            @include medium-text;
                            font-weight: 700;
                            width: 100%;
                            height: 100%
                        }
                    }
                }
            }
        }

        // 

        .trending__name {
            @include medium-text;
            font-weight: 600;
            margin: 15px 0 10px;
        }

        // 
        .trending__info {
            display: flex;
            gap: 12px;
            align-items: center;

            .trending__avatar {
                width: 24px !important;
                height: 24px;
            }

            .trending__info-name {
                @include smail-text
            }
        }
    }
}

@media (max-width: 1200px) and (min-width: 834px){
    .trending {
        padding: 40px 0;
    
        .trending-content {
           
    
            // 
            .trending-title {
                @include title-mobile;
            }
    
            // 
            .trending-des {
                @include description-mobile;
                margin: 10px 0 40px;
            }
    
            // 
            .trending-list {          
                gap: 30px;
    
                .trending-list-item {
                    width: calc((100% - 30px)/2);
                    &:last-child{
                        display: none;
                    }
                    img {
                        border-radius: 20px;
                        width: 100%;
                    }
    
                    .trending__list-chile {
                        display: flex;
                        justify-content: space-between;
                        gap: 15px;
    
                        .trending__link {
    
                            width: calc((100% - 30px)/3);
    
                            .trending__list-item {
    
                                img {
                                    
    
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
    
                        .trending__list-item-all {
    
                            background: #A259FF;
                            border-radius: 20px;
    
                            a {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                @include medium-text;
                                font-weight: 700;
                                width: 100%;
                                height: 100%
                            }
                        }
                    }
                }
            }
    
            // 
    
            .trending__name {
                @include medium-text;
                font-weight: 600;
                margin: 15px 0 10px;
            }
    
            // 
            .trending__info {
                display: flex;
                gap: 12px;
                align-items: center;
    
                .trending__avatar {
                    width: 24px !important;
                    height: 24px;
                }
    
                .trending__info-name {
                    @include smail-text
                }
            }
        }
    }
}
@media (max-width:834px){
    .trending {
        padding: 40px 0;
    
        .trending-content {
           
    
            // 
            .trending-title {
                @include title-mobile;
            }
    
            // 
            .trending-des {
                @include description-mobile;
                margin: 10px 0 60px;
            }
    
            // 
            .trending-list {          
                gap: 30px;
                flex-direction: column;
                .trending-list-item {
                    padding-bottom: 40px ;
                    width: 100% ;
                    &:last-child{
                        display: none;
                    }
                    img {
                        border-radius: 20px;
                        width: 100%;
                    }
    
                    .trending__list-chile {
                        display: flex;
                        justify-content: space-between;
                        gap: 15px;
    
                        .trending__link {
    
                            width: calc((100% - 30px)/3);
    
                            .trending__list-item {
    
                                img {
                                    
    
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
    
                        .trending__list-item-all {
    
                            background: #A259FF;
                            border-radius: 20px;
    
                            a {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                @include medium-text;
                                font-weight: 700;
                                width: 100%;
                                height: 100%
                            }
                        }
                    }
                }
            }
    
            // 
    
            .trending__name {
                @include smail-text;
                text-align: start;
                font-weight: 600;
                margin: 15px 0 10px;
            }
    
            // 
            .trending__info {
                display: flex;
                gap: 12px;
                align-items: center;
    
                .trending__avatar {
                    width: 24px !important;
                    height: 24px;
                }
    
                .trending__info-name {
                    @include smail-text
                }
            }
        }
    }
}
