.works {
    padding: 80px 0;

}

.works-content {
    display: flex;
    flex-direction: column;

}

.works_title {
    @include title;

}

.works_des {
    @include description;
    margin: 10px 0 48px;
}

.works_list {
    display: flex;
    gap: 30px;
    align-items: stretch;
}

.works_item {
    padding: 30px;
    background: #3B3B3B;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works_item-icon {
    width: calc(100% /2);
    max-height: 250px;
}

.works_list-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.works_list-content--title {
    @include medium-text;
    font-size: 22px;
    font-weight: 600;
}

.works_list-content--des {
    @include smail-text;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

@media (min-width: 834px) and (max-width:1200px) {
    .works {
        padding: 40px 0;

    }

    .works_title {
        @include title-tablet;

    }

    .works_des {
        @include description-tablet;
        margin: 10px 0 40px;
    }

   

    .works_item {
        padding: 30px 20px;
        background: #3B3B3B;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .works_list-content--title {
        @include medium-text-tablet;
    }

    .works_list-content--des {
        @include smail-text;
        text-align: center;
    }
}

@media (max-width: 834px) {

    .works_title {
        @include title-mobile;

    }

    .works_des {
        @include description-mobile;
    }

 

    .works_list {
        display: flex;
        gap: 30px;
        align-items: center;
        flex-wrap: wrap;
    }

    .works_item {
        padding: 30px 20px;
        background: #3B3B3B;
        border-radius: 20px;
        display: flex;
        gap: 20px;
        flex-direction: row;
        align-items: center;
    }

    .works_list-content {
        align-items: flex-start;

    }

    .works_list-content--title {
        @include medium-text-mobile;
    }

    .works_list-content--des {
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        text-align: start;
    }
}